In [ ]:
# Full:
plot_between('2013-01-01 00:00:00', '2014-09-30 23:59:59')

In [ ]:
# plot_between('2013-01-01 00:00:01','2013-03-31 23:59:59')

# data_combined['2013-01-01 00:00:01':'2013-03-31 23:59:59']

# plot_between('2013-01-01 00:00:00', '2014-08-31 23:59:59')
# Start
data_combined['2013-01-01 00:00:01':'2013-01-31 23:59:59']

In [ ]:
# Sum stats
print("From 2013-01-02 18:59:38 through 2014-08-22 10:21:32:\n")
print(data_combined['2013-01-02 18:59:38':'2014-08-22 10:21:32'].groupby('source', dropna=False)['raw'].agg(['count', 'mean','std', 'min', 'max']).dropna())

In [ ]:
plot_between('2013-01-02 18:59:38', '2014-08-22 10:21:32')
data_combined['2014-08-01 00:00:00':'2014-08-31 23:59:59']

In [ ]:
# data_combined['2013-01-01 00:00:01':'2013-01-31 23:59:59']
# data_combined['2013-01-01 00:00:01':'2013-01-31 23:59:59'].groupby('source', dropna=False)['raw'].agg(['count', 'mean','std', 'min', 'max']).dropna()
# data_combined['2013-01-02 18:59:38':'2014-08-22 10:21:32'].groupby('source', dropna=False)['raw'].agg(['count', 'mean','std', 'min', 'max']).dropna()
# print(data_combined['2013-01-01 00:00:01':'2014-09-30 23:59:59'].groupby('source', dropna=False)['raw'].agg(['count', 'mean','std', 'min', 'max']).dropna())
plot_between('2013-01-02 18:59:38', '2014-08-22 10:21:32')